.btn-primary {
    background-color: #4e73df !important;
}

.btn-success {
    background-color: #1cc88a !important;
}

.btn-info {
    background-color: #36b9cc !important;
}

.btn-warning {
    background-color: #f6c23e !important;
}

.btn-danger {
    background-color: #e74a3b !important;
}

.btn-secondary {
    background-color: #858796 !important;
}